@import "foundation/all";

.dse-select {
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include padding('xs');
    border: 1px solid $form-border-color;
    background: $form-bg-color;
    font-family: $body-font-family;

    cursor: pointer;
  }

  &__caret {
    transition: all 250ms ease;

    &--open {
      transform: rotate(180deg);
    }

    &--close {
      transform: rotate(0deg)
    }
  }

  &__overlay {
    @include padding('none');
    @include margin('none');

    border: 1px solid $form-border-color;
    background-color: $form-bg-color;
    z-index: 99;
    position: absolute;
    width: 100%;
    box-shadow: map-get($shadows, 'base');
    list-style-type: none;

  }

  &__option {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    @include padding('xs');
  }

  &__option--highlighted {
    background-color: $form-bg-color-hover;
  }

  &__option--selected {
    background-color: $form-bg-option-selected;
    color: $form-color-option-selected;
  }
}
