:root {
  --dse-body-text-color: #{$dark};
  --dse-body-bg-color: #{$white};

  // Add these to the existing root variables
  --dse-btn-primary-bg: #{$blue};
  --dse-btn-primary-bg-hover: #{$blue-dark};
  --dse-btn-secondary-bg: #{$gray};
  --dse-btn-secondary-bg-hover: #{$gray-dark};
  --dse-btn-danger-bg: #{$red};
  --dse-btn-danger-bg-hover: #{$red-dark};
  --dse-btn-warning-bg: #{$yellow};
  --dse-btn-warning-bg-hover: #{$yellow-dark};
  --dse-btn-success-bg: #{$green};
  --dse-btn-success-bg-hover: #{$green-dark};
  --dse-btn-text-color: #{$text-dark};
  --dse-btn-link-color: #{$blue};
  --dse-btn-link-color-hover: #{$blue-dark};

  --dse-form-color: #{$dark};
  --dse-form-bg: #{$white};
  --dse-form-error-color: #{$red};
  --dse-form-error-border: #{$red};
  --dse-form-border-focus-color: #{$green};

  --dse-body-font-size: #{$fs-base};
  --dse-body-font-weight: #{$fw-normal};

  --dse-h1-font-size: #{$h-1};
  --dse-h2-font-size: #{$h-2};
  --dse-h3-font-size: #{$h-3};
  --dse-h4-font-size: #{$h-4};
  --dse-h5-font-size: #{$h-5};
  --dse-h6-font-size: #{$h-6};

  --dse-h1-font-weight: #{$fw-medium};
  --dse-h2-font-weight: #{$fw-medium};
  --dse-h3-font-weight: #{$fw-medium};
  --dse-h4-font-weight: #{$fw-normal};
  --dse-h5-font-weight: #{$fw-normal};
  --dse-h6-font-weight: #{$fw-light};
}
