@import "foundation/all";

.dse-badge {
  display: inline-flex;
  align-items: center;
  padding: map-get($spacing, 'xxxs') map-get($spacing, 'xs');
  border-radius: map-get($button-radius, 'base');
  font-size: $body-font-size-sm;
  font-weight: $fw-medium;
  line-height: 1;
  gap: map-get($spacing, 'xxs');
  font-family: $body-font-family;

  &-default {
    background-color: $badge-default-bg;
    color: $white;
  }

  &-success {
    background-color: $badge-success-bg;
    color: $white;
  }

  &-warning {
    background-color: $badge-warning-bg;
    color: $white;
  }

  &-error {
    background-color: $badge-error-bg;
    color: $white;
  }

  &-icon {
    display: flex;
    align-items: center;
    font-size: $fs-sm;
  }

  &-count {
    background: rgba($text-primary, 0.1);
    padding: map-get($spacing, 'xxxs') map-get($spacing, 'xxs');
    border-radius: map-get($button-radius, 'large');
    font-size: $fs-xs;
  }
}